<ion-modal-view>
    <ion-content class="padding">
    <div class='row'>
        <div class='col'>
            <span class='editor-label'>First Name</span>
            <label class="item item-input">
                <input type='text' ng-model="newContact.firstName"></input>
            </label>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <span class='editor-label'>Last Name</span>
            <label class="item item-input">
                <input type='text' ng-model="newContact.lastName"></input>
            </label>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <span class='editor-label'>Title</span>
            <label class="item item-input">
                <input type='text' ng-model="newContact.title"></input>
            </label>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <span class='editor-label'>Company</span>
            <label class="item item-input">
                <input type='text' ng-model="newContact.company"></input>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center">
            <button class="button button-full button-stable" ng-click="save()">Save</button>
        </div>
    </div>
  </ion-content>
</ion-modal-view>