<ion-view view-title= "MY GAUTENG"/>


  <ion-content class="content">

<div class="card">  

<div class="row" align="center">

 <div class="bar bar-header item-input-inset">
 
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-S">
   Search
  </button>
  
</div>

</div>
<div class="card">  

<div class="row" align="center">

  <div class="col"> <i class="iconE ion-calendar custom-iconE"></i></br/>Events</div>
  <div class="col"> <i class="iconC ion-volume-high custom-iconC"></i></br/>Campaigns</div>
  <div class="col"> <i class="iconN ion-earth custom-iconN"></i></br/>News</div>
 
  

</div>

<div class="row" align="center">
  <div class="col"> <i class="iconF ion-android-chat custom-iconF"></i></br/>Feedback</div>
  <div class="col"><i class="iconV ion-ios-location custom-iconV"></i></br/>Municipalities</a></div>
   <div class="col"><i class="iconB ion-android-folder-open custom-iconB"></i></br/>Business</a></div>
  

  

</div>


</div>
</div>


<ion-content class="card-background-page">

  <ion-card>
    <img src="img/GautengBG.jpg"/>
    
    
    <div class="card-slide">  
  
 <ion-slide-box show-pager="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
    <ion-slide>
        <img src="img/premier.png" width="400px" />
    </ion-slide>
    <ion-slide>
        <img src="img/human.png" width="400px" />
    </ion-slide>
    <ion-slide>
        <img src="img/education.png" width="400px" />
    </ion-slide>
    <ion-slide>
        <img src="img/health.png" width="400px" />
    </ion-slide>
</ion-slide-box>
  

</div>
  </ion-card>
</ion-content>



  </ion-content>
</ion-view>
