<ion-view view-title= "MY GAUTENG"/>


  <ion-content class="content">


<div class="space0">

</div>

<div class="row" align="center">

 <div class="bar bar-header item-input-inset" >
 
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-S">
   Search
  </button>
  
</div>

</div>
<div class="space">

</div>
<div class="card"> 
<div class="row" align="center">

  <a class="col" href="#"> <i class="iconE ion-calendar custom-iconE"></i></br/>{{Event}}</a>
  <a class="col" href="#/app/campaigns"> <i class="iconC ion-volume-high custom-iconC"></i></br/>{{Campaigns}}</a>
  <a class="col" href="#/app/news"> <i class="iconN ion-earth custom-iconN"></i></br/>{{News}}</a>
 
  

</div>
</br/>

<div class="row" align="center">
  <a class="col" href="#/app/departments"> <i class="iconF ion-android-chat custom-iconF"></i></br/>{{Departments}}</a>
  <a class="col" href="#"><i class="iconV ion-clipboard custom-iconV"></i></br/>{{Municipalities}}</a>
   <a class="col" href="#"><i class="iconB ion-android-folder-open custom-iconB"></i></br/>{{Buinsess}}</a>
  
</div>
  
</div>

</div>

<div class="col"><a href="https://twitter.com/gautengprovince"><img src="../img/tweet.png" width="30" height="30"></a></i></div>
<div class="col"><a href="https://www.facebook.com/GPPremierOffice/"><img src="../img/fb.png" width="30" height="30"></a></i></div>
<div class="col"><a href="https://www.instagram.com/gauteng_government/"><img src="../img/insta.png" width="30" height="30" ></a></i></div>




  </ion-content>
</ion-view>
