<ion-view view-title="Contacts">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts" type="item-text-wrap" href="#/tab/contacts/{{contact.id}}">
        <h2>{{contact.firstName}} {{contact.lastName}}</h2>
        <p>{{contact.title}} <span ng-if="contact.company"> - {{contact.company}}</span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
		<button class="button button-full button-stable" ng-click="remove(contact)">Remove</button>
      </ion-item>
    </ion-list>
    <button class="button button-full button-stable" ng-click="add()">Add</button>
	
  </ion-content>
</ion-view>